In [2]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from scipy import stats
import numpy as np
from sklearn.model_selection import train_test_split #trainsplit
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error
from math import sqrt
import matplotlib.pyplot as plt

In [69]:
data = pd.read_csv('train.csv')

In [70]:
#Checking Null values

In [91]:
test_data = pd.read_csv('test.csv')

In [71]:
#Select number of columns

In [72]:
X = data.drop('ID_code',axis = 1)

In [73]:
predictors = X.columns

In [74]:
selector = SelectKBest(chi2, k=100)
selector.fit_transform(abs(data[predictors]), data["target"])
mask = selector.get_support()
new_features = X.columns[mask]

In [75]:
df_n = data[new_features]

In [76]:
#Remove Outliers

In [77]:
z=np.abs(stats.zscore(df_n))
df_n = df_n[(z < 3).all(axis=1)]

In [78]:
Y = df_n['target']
X = df_n.drop('target',axis = 1)

In [79]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .3, random_state = 42)

In [80]:
from sklearn.linear_model import LogisticRegression
regressor = LogisticRegression()
regressor.fit(X_train,Y_train)
lg_reg = regressor.predict(X_test)

In [81]:
from sklearn.ensemble import RandomForestClassifier

rd_regressor = RandomForestClassifier()
rd_regressor.fit(X_train,Y_train)
rd_reg = rd_regressor.predict(X_test)

In [83]:
cm=confusion_matrix(Y_test,lg_reg)
acc=accuracy_score(Y_test,lg_reg)

In [84]:
cm1=confusion_matrix(Y_test,rd_reg)
acc1=accuracy_score(Y_test,rd_reg)

In [85]:
print(cm,cm1,acc,acc1)

[[51917   492]
 [ 4902   895]] [[52309   100]
 [ 5697   100]] 0.9073291413256366 0.9004054564821496

In [96]:
new_feature_test = new_features
new_feature_test = new_feature_test.drop('target')

In [97]:
test_data1 = test_data[new_feature_test]

In [98]:
test_lg_reg = regressor.predict(test_data1)

In [99]:
test_lg_reg

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [103]:
result = pd.DataFrame()
result['ID_code'] = test_data['ID_code']

In [104]:
result['target']= test_lg_reg

In [105]:
result

            ID_code  target
0            test_0       0
1            test_1       0
2            test_2       0
3            test_3       0
4            test_4       0
5            test_5       0
6            test_6       0
7            test_7       0
8            test_8       0
9            test_9       0
10          test_10       0
11          test_11       0
12          test_12       0
13          test_13       0
14          test_14       0
15          test_15       0
16          test_16       1
17          test_17       0
18          test_18       0
19          test_19       0
20          test_20       0
21          test_21       0
22          test_22       0
23          test_23       0
24          test_24       0
25          test_25       0
26          test_26       0
27          test_27       0
28          test_28       0
29          test_29       0
...             ...     ...
199970  test_199970       0
199971  test_199971       0
199972  test_199972       0
199973  test_199973       0
199974  test_199974       0
199975  test_199975       0
199976  test_199976       0
199977  test_199977       0
199978  test_199978       0
199979  test_199979       0
199980  test_199980       0
199981  test_199981       0
199982  test_199982       0
199983  test_199983       0
199984  test_199984       0
199985  test_199985       0
199986  test_199986       0
199987  test_199987       0
199988  test_199988       0
199989  test_199989       0
199990  test_199990       0
199991  test_199991       0
199992  test_199992       0
199993  test_199993       0
199994  test_199994       0
199995  test_199995       0
199996  test_199996       0
199997  test_199997       0
199998  test_199998       0
199999  test_199999       0

[200000 rows x 2 columns]

In [106]:
#Code to excel export
prediction = pd.DataFrame(result).to_csv('prediction3.csv',index=False)

In [108]:
data_result = pd.read_csv('prediction3.csv')

In [109]:
data_result.head(3)

  ID_code  target
0  test_0       0
1  test_1       0
2  test_2       0