In [111]:
import pandas as pd
import numpy as np

In [112]:
data = pd.read_csv('train.csv')

In [113]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [114]:
columns_target=['Survived'] 
columns_train = ['Age','Pclass','Sex','Fare']
X = data[columns_train]
Y = data[columns_target]

In [115]:
# Data Preprocessing
#Check Nan values

In [116]:
X['Sex'].isnull().sum()

0

In [117]:
for i in columns_train:
    if X[i].isnull().sum() != 0:
        print(i,X[i].isnull().sum())

Age 177

In [118]:
# Now age has Nan values, so need to clean this, we cant drop , we can either use mean or median

In [119]:
X['Age']= X['Age'].fillna(X['Age'].median())

C:\Users\mashwin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [120]:
X['Age'].isnull().sum()

0

In [121]:
#SKlearn doesnt suppoort strings, we replace male with 0 and female with 1

In [122]:
d = {'male':0,'female':1}
X['Sex'] = X['Sex'].apply(lambda x:d[x])

C:\Users\mashwin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [123]:
X['Sex'].head()

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [124]:
#from sklearn.cross_validation import train_test_split
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 1/3, random_state = 42)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 1/3, random_state = 42)

In [125]:
from sklearn import svm
clf = svm.LinearSVC()

clf.fit(X_train,Y_train)

C:\Users\mashwin\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [126]:
clf.predict(X_test)

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0], dtype=int64)

In [127]:
clf.score(X_test,Y_test)

0.7609427609427609

In [129]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

In [ ]:
## trying to get sample

In [88]:
data2 = pd.read_csv('test.csv')
data2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [93]:

X_testset = data2[columns_train]
X_testset['Age']= X_testset['Age'].fillna(X_testset['Age'].median())
X_testset['Sex'] = X_testset['Sex'].apply(lambda x:d[x])

C:\Users\mashwin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\mashwin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [95]:
for i in columns_train:
    if X_testset[i].isnull().sum() != 0:
        print(i,X_testset[i].isnull().sum())

Fare 1

In [96]:
X_testset['Fare']= X_testset['Fare'].fillna(X_testset['Fare'].median())

C:\Users\mashwin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [99]:
m = clf.predict(X_testset)

In [101]:
for i in m:
    #print(i ,'\n')
    l = i + '\n'
    a = open("Sample.txt",mode = "w")
    a.write(l)
    a.close

0

1

1

0

1

0

1

0

1

0

0

1

1

1

1

1

1

0

1

1

1

0

1

0

0

0

1

0

1

0

1

0

1

1

0

0

1

1

0

0

0

1

0

1

1

0

1

0

1

1

0

0

1

0

0

0

0

0

0

0

0

1

0

1

0

1

1

1

1

0

1

0

1

1

0

0

0

1

1

1

0

0

1

0

1

0

1

1

1

0

1

0

1

0

1

0

1

0

1

0

1

0

0

0

1

0

0

0

0

0

1

1

1

1

0

0

0

1

0

1

1

0

1

0

0

1

0

1

1

0

0

1

1

0

0

0

0

0

1

0

1

1

0

0

1

0

1

0

1

0

1

0

0

1

0

0

0

1

1

1

1

0

1

0

1

1

1

0

1

1

0

0

0

0

0

1

1

1

1

1

1

0

1

0

0

1

1

0

1

1

0

1

0

1

0

0

0

1

1

1

1

0

0

1

1

1

1

1

1

0

0

0

0

1

1

1

1

0

0

0

1

0

1

0

1

1

0

1

0

1

0

1

0

0

0

0

1

0

1

1

1

1

0

0

0

1

1

0

1

1

1

0

0

0

0

0

0

0

1

0

0

0

1

1

1

0

1

0

1

0

0

0

1

1

0

1

1

0

0

0

1

0

1

1

1

0

0

0

0

0

1

1

0

0

0

0

1

0

1

0

0

0

1

0

1

1

0

0

0

1

0

0

0

1

1

1

0

0

0

0

0

0

0

1

0

0

1

0

0

0

1

1

0

1

0

1

1

0

0

0

0

0

0

0

0

1

0

1

0

1

1

1

0

0

1

1

1

0

0

1

0

1

1

0

1

1

0

1

1

1

0

1

1

1

1

0

1

0

1

0

0

0

1

1

1

1

0

1

0

0

0

1

0

1

0

1

0

1

0

0

0

0

1

1

1

0

1

0

1

1

1

1

1

0

1

0

0

0

In [107]:
for i in m:
    #print(i ,'\n')
    l = i #+ '\n'
    print(l)
    a = open("Sample.txt",mode = "w")
    a.write(str(l))
    a.close

0
1
1
0
1
0
1
0
1
0
0
1
1
1
1
1
1
0
1
1
1
0
1
0
0
0
1
0
1
0
1
0
1
1
0
0
1
1
0
0
0
1
0
1
1
0
1
0
1
1
0
0
1
0
0
0
0
0
0
0
0
1
0
1
0
1
1
1
1
0
1
0
1
1
0
0
0
1
1
1
0
0
1
0
1
0
1
1
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
1
0
0
0
0
0
1
1
1
1
0
0
0
1
0
1
1
0
1
0
0
1
0
1
1
0
0
1
1
0
0
0
0
0
1
0
1
1
0
0
1
0
1
0
1
0
1
0
0
1
0
0
0
1
1
1
1
0
1
0
1
1
1
0
1
1
0
0
0
0
0
1
1
1
1
1
1
0
1
0
0
1
1
0
1
1
0
1
0
1
0
0
0
1
1
1
1
0
0
1
1
1
1
1
1
0
0
0
0
1
1
1
1
0
0
0
1
0
1
0
1
1
0
1
0
1
0
1
0
0
0
0
1
0
1
1
1
1
0
0
0
1
1
0
1
1
1
0
0
0
0
0
0
0
1
0
0
0
1
1
1
0
1
0
1
0
0
0
1
1
0
1
1
0
0
0
1
0
1
1
1
0
0
0
0
0
1
1
0
0
0
0
1
0
1
0
0
0
1
0
1
1
0
0
0
1
0
0
0
1
1
1
0
0
0
0
0
0
0
1
0
0
1
0
0
0
1
1
0
1
0
1
1
0
0
0
0
0
0
0
0
1
0
1
0
1
1
1
0
0
1
1
1
0
0
1
0
1
1
0
1
1
0
1
1
1
0
1
1
1
1
0
1
0
1
0
0
0
1
1
1
1
0
1
0
0
0
1
0
1
0
1
0
1
0
0
0
0
1
1
1
0
1
0
1
1
1
1
1
0
1
0
0
0